@{
    Layout = null;
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome - AngularStart</h1>
        </hgroup>
        <p class="bg-info">
            <p>This is a ASP.Net MVC template for integrating MVC with AngularJS framework. The stack includes ASP.Net MVC, WebAPI, Bootstrap 2.3.2 and AngularJS 1.2.0 -RC1.</p>
        </p>
    </div>
</section>