@{
    Layout = null;
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome - AngularStart</h1>
        </hgroup>
        <p class="bg-info">
            <p>This is a ASP.Net MVC template for integrating MVC with AngularJS framework. The stack includes ASP.Net MVC, WebAPI, Bootstrap 2.3.2 and AngularJS 1.2.0 -RC1.</p>
        </p>
    </div>
</section>

<button type="button" ng-click="greetAll()" class="btn btn-default">Manual</button>
<button type="button" ng-click="startTicker()" class="btn btn-default">Auto</button>
<div class="alert alert-success">
    <strong>Well done!</strong> {{text}}
</div>
<div class="list-group" ng-model="data">
    <a href="#" class="list-group-item" ng:repeat="doc in data">{{doc}}</a>
</div>





