@{
    Layout = null;
}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome - AngularStart</h1>
        </hgroup>
        <p class="bg-info">
            <p>This is a ASP.Net MVC template for integrating MVC with AngularJS framework. The stack includes ASP.Net MVC, WebAPI, Bootstrap 2.3.2 and AngularJS 1.2.0 -RC1.</p>
        </p>
    </div>
</section>

<button type="button" ng-click="greetAll()" class="btn btn-default">Manual</button>
<button type="button" ng-click="startTicker()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
<button type="button" ng-click="stopTicker()" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span></button>
<hr/>
<div class="alert alert-success" ng-if="text">
    <strong>Message:</strong> {{text}}
</div>

<div class="row">

        <div class="col-md-4" style="overflow: auto; max-height: 320px">
            <div class="list-group" ng-model="data" >
                <a href="#" class="list-group-item" ng:repeat="doc in data">{{doc}}</a>
            </div>
        </div>

    <div class="col-md-6">
        <progressbar class="progress-striped active" max="20" value="dynamic" type="{{type}}"><i>{{progresstext}}</i></progressbar>
    </div>
</div>


